%header.header
  %h1.header__name ToDo App
  %ul
    %li.heder__info
      name:
      = current_user.name
      %ul
        %li
          %a{href: user_path(current_user)} ãƒžã‚¤ãƒšãƒ¼ã‚¸
        %li
          %a{href: "/group/new"} ã‚°ãƒ«ãƒ¼ãƒ—ä½œæˆ
        %li
          %a{href: edit_user_path(current_user)} ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç·¨é›†

.Task
  .task-group
    %p ã‚°ãƒ«ãƒ¼ãƒ—

  .task-info
    = form_with(url: tasks_path, local: true, class: 'Form') do |form|
      %p ã‚¿ã‚¹ã‚¯å…¥åŠ›
      = form.text_field :task, placeholder: "ã‚¿ã‚¹ã‚¯å†…å®¹", class: 'form-text'
      = form.text_area :detalis, placeholder: "ç· ã‚åˆ‡ã‚Šæ—¥/æ¦‚è¦", class: 'textarea', class: 'form-detalis'
      = form.submit "ã‚¿ã‚¹ã‚¯è¿½åŠ ", class: 'form-submit'

  .task-content
    .task-name
      %p ã‚¿ã‚¹ã‚¯ä¸€è¦§
      %input{:type => "date"}
    - @tasks.each do |task|
      .content
        .content-main
          .content-name
            æ‹…å½“è€…:
            = link_to task.user.name, user_path(task.user.id)
          .content-task
            ã‚¿ã‚¹ã‚¯:
            =task.task
          .content-edit
            = link_to 'ç·¨é›†âœï¸', edit_task_path(task.id), class: 'edit', method: :get
            = link_to 'å‰Šé™¤ðŸ—‘', task_path(task.id), class: 'delete', method: :delete
        .content-detalis
          = task.detalis
        -# .content-option
        -#   %input.complete{:type => "button", :value => "âœ”ï¸Ž"}
  
  .task-complete
    %p å®Œäº†ã‚¿ã‚¹ã‚¯
    .complete-list
      %ul
        %li.list

%footer
  %p Copyright ToDoã‚¢ãƒ—ãƒª 2020.